@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.bg-bangketa {
    background-color: #010111 !important;
    color: white;
}


/** SIDEBAR **/
.sidebar .sidebar-nav, .sidebar .sidebar-scroll {
    width: 240px;
}

@media (max-width: 991.98px) {
    .sidebar {
        height: calc(100vh - 55px);
        position: fixed;
        width: 240px;
        z-index: 1019;
    }
}

html:not([dir=rtl]) .sidebar {
    margin-left: -240px;
}
html:not([dir=rtl]) .sidebar {
    margin-left: -240px;
}

.sidebar .nav {
    width: 240px;
    padding: 20px 20px;
}

.sidebar .nav-link.active {
    background: #e6e5e5;
    color: #010111 !important;
    border-radius: 12px;
}

.sidebar .navbar-brand.active {
    background: #010111 !important;
    color: #e6e5e5 !important;
}

.sidebar .nav-link:hover {
    background: #1d1d1d;
    color: #e6e5e5;
    border-radius: 12px;
}

.sidebar .nav-link .nav-icon {
    color: #e6e5e5;
}

.sidebar .nav-link.active .nav-icon {
    color: #010111 !important;
}

.sidebar .nav-dropdown-items {
    margin-left: 10px;
}

.sidebar .nav-item {
    margin: 3px 0;
}

/** BODY **/

.main {
    background-color: #e6e5e5;
}

.btn {
    padding: 10px 20px;
}

.btn-link {
    color: #07074F;
}

.btn-primary {
    background-color: #010111;
    border-color: #010111;
    color: #e6e5e5;
}

.btn-outline-primary {
    background-color: #e6e5e5;
    border-color: #010111;
    color: #010111;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #e6e5e5 !important;
    border-color: #010111 !important;
    color: #010111 !important;
    font-weight: 400;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background-color: #010111;
    border-color: #010111;
    color: #e6e5e5;
}

.page-item.active .page-link {
    background-color: #010111;
    border-color: #010111;
    color: #e6e5e5;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #010111;
    border-color: #010111;
}

#crudTable_wrapper {
    margin-top: 20px !important;
}

.table-striped td:last-of-type {
    word-break: break-all;
}
